@import "../_variables";

$routesHeight: 70px;

.module-route-index {
	display: flex;

	.app-index-route {
		display: flex;
		width: 100%;

		.map-container {
			flex: 3;
		}

		.sidebar {
			flex: 1;
			height: 100vh;
			padding: 12px 8px;
			background-color: #dfdfdf;
			padding: 20px 7px;
			border-left: $borderColor 1px solid;
			
			.app-logo {
				flex-basis: 100px;
			}

			.route-select.card {
				cursor: pointer;

				&:hover {
					background-color: whitesmoke;
				}
			}
		}
	}

	@media (max-width: 450px) {
		$heightOffset: 100px;
		$mapHeight: $routesHeight + $heightOffset;

		overflow: hidden;

		#map {
			height: calc(100vh - #{$mapHeight})
		}

		.route-context {
			flex-wrap: wrap;
			height: $routesHeight + $heightOffset;

			.app-logo {
				display: none;
			}

			.current {
				margin-bottom: 10px;
			}

			.current.route {
				flex-basis: 150px;
			}

			.segments {
				flex-basis: 150px;

				.hlist {
					display: flex;
					flex-wrap: wrap;

					li {
						margin-bottom: 5px;
					}
				}
			}
		}
	}

	@media (max-width: 800px) {
		.app-logo {
			flex-basis: 80px;
		}

		.current {
			&.city {
				flex-basis: 250px;
			}

			&.route {
				flex-basis: 150px;
			}
		}
	}
}


