<div class="landing-container">
    <div class="main-graphics">
        <div class="scene">
            <img class="jeepney" src="images/svg/jeepney.svg">
        </div>
        <div class="floor">
            <h1>
                <img class="img-header" src="images/svg/barker-name.svg">
            </h1>
            <h4>Jeepney routes search and listing</h4>
        </div>
    </div>
</div>