<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello HelloPhoenix!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-brand">
          <a href="<%= route_path(@conn, :index) %>">
            <img src="<%= static_path(@conn, "/images/jeepney_logo.png") %>" alt="">
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <%= link "Routes", to: route_path(@conn, :index), class: "navbar-item" %>
          </div>
        </div>
      </div>
    </div>

    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            <%= @view_module.page_title(@view_template, assigns) %>
          </h1>
          <h2 class="subtitle">
            Cagayan de Oro jeepney routes in one place
          </h2>
        </div>
      </div>
    </section>

    <div class="container">
      <% if info = get_flash(@conn, :info) do %>
      <article class="message is-info">
        <div class="message-body"><%= info %></div>
      </article>
      <% end %>

      <% if error = get_flash(@conn, :error) do %>
      <article class="message is-danger">
        <div class="message-body"><%= error %></div>
      </article>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
