<!DOCTYPE html>
<html lang="en">
<head>
  <%= if !is_development_env() do %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106504196-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());
  
    gtag('config', 'UA-106504196-1');
  </script>
  <% end %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Search and display routes in Cagayan de Oro. Find what route to take to your destination.">
  <meta name="author" content="">

  <title>Barker | Jeepney Routes | Cagayan de Oro</title>

  <%# TODO: find a way to make this load only in the homepage using "partial" since this is only used there #%>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">

  <link rel="icon" href="<%= static_path(@conn, "/images/favicon.ico") %>?1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

  <%# TODO: only load this when needed - this is the file containing styling of vue components %>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/components.css") %>">
</head>

<body>
    <div class="container">
      <% if info = get_flash(@conn, :info) do %>
      <article class="message is-info">
        <div class="message-body"><%= info %></div>
      </article>
      <% end %>

      <% if error = get_flash(@conn, :error) do %>
      <article class="message is-danger">
        <div class="message-body"><%= error %></div>
      </article>
      <% end %>
    </div> <!-- /container -->

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
  </body>
  </html>
