@import "../_variables";

$routesHeight: 70px;

.module-route-index {
	.route-context {
		display: flex;
		padding: 12px 8px;
		height: $routesHeight;
		background-color: $primaryColor;
		color: $primaryTextColor;
		border-top: solid 2px lighten($primaryColor, 1%);
		
		.header {
			font-size: 0.8em;
			color: transparentize($primaryTextColor, 0.3);
		}
		
		.app-logo {
			flex-basis: 100px;
		}
		
		.current {
			flex-basis: 300px;
			flex-shrink: 1;
			
			.description {
				font-weight: bold;
				
				&:hover {
					color: transparentize($primaryTextColor, 0.1);
				}
			}
		}
		
		.current.city, .current.route {
			.description {
				cursor: pointer;
			}
		}
		
		.segments {
			flex-basis: 250px;
			flex-shrink: 2;
			flex-grow: 1;
			
			.hlist {
				li {
					background-color: darken($primaryColor, 2%);
					padding: 3px 8px;
					border-radius: 3px;
					font-size: 0.8em;
					cursor: pointer;
					
					&:hover {
						background-color: darken($primaryColor, 3.5%);
					}
					
					&.active, &:hover.active {
						background-color: darken($primaryColor, 7%);
					}			
				}
			}
		}
	}
	
	#map {
		height: calc(100vh - #{$routesHeight});
	}

	#route-select-modal {
		.list-group-container {
			overflow-y: scroll;
			height: 45vh;

			.list-group {
				.list-group-item {
					display: flex;
					flex-direction: row;
					align-items: center;

					&:hover {
						background-color: #fbfbfb;
						cursor: pointer;
					}
		
					// TODO: remove this if bootstrap scss default variables is overriden
					&.active {
						background-color: $primaryColor;
						border-color: $primaryColor;
					}

					.data-not-available-yet {
						font-size: 0.5em;
						background-color: #efefef;
						padding: 3px 6px;
						border-radius: 3px;
						color: #989898;
						margin-left: 8px;
					}
				}	
			}
		}
	}

	@media (max-width: 450px) {
		$heightOffset: 100px;
		$mapHeight: $routesHeight + $heightOffset;

		overflow: hidden;

		#map {
			height: calc(100vh - #{$mapHeight})
		}

		.route-context {
			flex-wrap: wrap;
			height: $routesHeight + $heightOffset;

			.app-logo {
				display: none;
			}

			.current {
				margin-bottom: 10px;
			}

			.current.route {
				flex-basis: 150px;
			}

			.segments {
				flex-basis: 150px;

				.hlist {
					display: flex;
					flex-wrap: wrap;

					li {
						margin-bottom: 5px;
					}
				}
			}
		}
	}

	@media (max-width: 800px) {
		.app-logo {
			flex-basis: 80px;
		}

		.current {
			&.city {
				flex-basis: 250px;
			}

			&.route {
				flex-basis: 150px;
			}
		}
	}
}


