@import "../_variables";

.landing-container {
    .hero {
        background-image: url('/images/map-background.jpg');
        background-position: 50% 50%;
        background-size: cover;
        box-shadow: 0 -1px 2px 1px rgba(0,0,0,.11);
        height: 100vh;
        
        .cover-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;

            .content {
                color: $textColorInPrimary;
                text-align: center;
                text-shadow: 0px 1px 3px rgba(0,0,0,0.25);

                h1 {
                    font-family: 'Comfortaa', cursive;
                }

                .go-to-routes {
                    padding-bottom: 6px;

                    img {
                        width: 35px;
                        margin-bottom: 3px;
                    }
                }
            }
        }
    }
}