@import "../_variables";

.landing-container {
    .main {
        display: flex;
        height: 100vh;

        .illustration {
            display: flex;
            flex-direction: column;
            background-color: #74DEFB;
            flex: 2;

            .scene {
                display: flex;
                flex-direction: column;
                flex: 1;

                .cloud-container {
                    margin-top: 10px;
                }

                .app-name {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-top: 30px;
                    z-index: 2;
                    flex: 2;

                    h1 {
                        font-family: 'Open Sans';
                        font-weight: bold;
                        color: #FF5000;
                        font-size: 3.5rem;
                    }

                    h2 {
                        font-family: 'Open Sans';
                        font-size: 1.5rem;
                        color: #343434;
                    }
                }

                .jeepney-mountain {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                        
                    svg.jeepney-enter-sign {
                        position: absolute;
                        bottom: 0px;
                        margin-left: 70px;
                        margin-right: 70px;
                        max-height: 330px;
                    }
                }
            }

            .road {
                height: 40px;
                width: 100%;
                background-color: #003742;
            }
        }

        .features {
            background-color: white;
            flex: 1;
        }
    }
}

// ANIMATIONS

#cloud1, #cloud2, #cloud3, #cloud4 {
    animation: cloudmove 360s ease -5s infinite;
}

@keyframes cloudmove {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(400px);
    }
}

#sign_head {
    // transform-origin: top center;
    // animation: swing 5s ease -5s infinite;
}

@keyframes swing {
    10% {
      transform: rotate3d(0, 0, 1, 10deg);
    }
  
    20% {
      transform: rotate3d(0, 0, 1, -5deg);
    }
  
    30% {
      transform: rotate3d(0, 0, 1, 3deg);
    }
  
    40% {
      transform: rotate3d(0, 0, 1, -3deg);
    }

    50% {
      transform: rotate3d(0, 0, 1, 2deg);
    }

    55%, 100% {
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }

  @media (max-width: 800px) {
    .landing-container
    .main-graphics 
    .scene
    .svg-wrapper {
        &.luxe, &.must {
            display: none;
        }
    }
}

// RESPONSIVE MEDIA QUERIES

@media (max-height: 600px) {
    .landing-container
    .main-graphics 
    .clouds-svg {
        display: none;
    }
}

@media (min-height: 600px) and (max-width: 600px) {
    .landing-container
    .main-graphics 
    .clouds-svg {
        margin-top: 60px;
    } 
}