@import "../_variables";

.landing-container {
    .main {
        display: flex;
        height: 100vh;

        .illustration {
            display: flex;
            flex-direction: column;
            background: #74defb;
            background: linear-gradient(to bottom, #74defb 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            flex: 2;
            position: relative;

            .cloud-wrapper {
                position: absolute;
                height: 100px;
                width: 100%;
            }

            .mountain-wrapper {
                position: absolute;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }

            .jeepney-wrapper {
                position: absolute;
                bottom: 40px;
                left: 0;
                right: 0;
                display: flex;
                align-items: center;
                padding: 0 50px;
                
                svg {
                    max-height: 360px;
                    flex: 1;
                }
            }

            .road {
                position: absolute;
                bottom: 0;
                height: 40px;
                width: 100%;
                background-color: #003742;
            }

            .app-name { 
                display: flex; 
                flex-direction: column; 
                align-items: center; 
                z-index: 2;
                margin-top: 100px;

                h1 { 
                    font-family: 'Open Sans'; 
                    font-weight: bold; 
                    color: #FF5000; 
                    font-size: 3.5rem; 
                } 

                h2 { 
                    font-family: 'Open Sans'; 
                    font-size: 1.5rem; 
                    color: #343434; 
                } 
            }
        }

        .features {
            background-color: white;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #33788E;
            font-family: "Helvetica Neue", "Arial", "sans-serif";
            
            .feature {
                margin: 15px 10px;
            }
        }
    }
}

// ANIMATIONS

.cloud {
    animation: cloudmove 360s ease -5s infinite;
}

@keyframes cloudmove {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(400px);
    }
}

#sign_head {
    transform-origin: 55px 17px;
    animation: swing 5s ease -5s infinite;
    cursor: pointer;
}

@keyframes swing {
    10% {
      transform: rotate3d(0, 0, 1, 10deg);
    }
  
    20% {
      transform: rotate3d(0, 0, 1, -5deg);
    }
  
    30% {
      transform: rotate3d(0, 0, 1, 3deg);
    }
  
    40% {
      transform: rotate3d(0, 0, 1, -3deg);
    }

    50% {
      transform: rotate3d(0, 0, 1, 2deg);
    }

    55% {
      transform: translate3d(0, 0, 1, -1deg)
    }

    60%, 100% {
      transform: rotate3d(0, 0, 1, 0deg);
    }
}

@media (max-height: 615px) {
  .app-name {
      opacity: 0;
  }
}

@media (min-width: 1367px), (max-height: 515px) {
    svg.mountain {
        opacity: 0;
    }
}